.header{
    display: flex;
    /* justify-content: center; */
}

ul{
    list-style-type: none;
}

.logo{
    color:rgba(33, 33, 33, 1);
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;

    }
.web{
    color: rgba(33, 150, 243, 1);
    }
.nav{
    display: flex;
    justify-content: space-between;
}
.link{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-decoration: none;
    color:rgba(33, 33, 33, 1)
}

.link-contacts{
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    color: rgba(117, 117, 117, 1);
}
.link-contacts:hover{
    color: rgba(33, 150, 243, 1);
}

/*header*/
.navigation > li {

    display: inline;

}
.navigation > li :hover {
    color: rgba(33, 150, 243, 1);
}
:current(.navigation > li){
    color: rgba(33, 150, 243, 1);
}

.contacts > li{

    display: inline;
}

.service-order{

    background-color: rgba(33, 33, 33, 1);
    width: 100%;
    height: 600px;
}

/* .test{ */
    /* position: relative; */
/* } */
.main-header{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 1);
}
.order-button{

    background-color: rgba(33, 150, 243, 1);
    color: rgba(255, 255, 255, 1);
    width: 200px;
    height: 50px;
    border-radius: 4px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
}
.order-button:hover{
    background-color: #188ce8;
}
.benefits-header{
    opacity: 0;
}
.benefits > ul{


    display: flex;
    justify-content: space-between;

}
.benefits-sub-header{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.1;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: rgba(33, 33, 33, 1);
}
.benefits-text{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
}
.what-we-do > ul{

    display: flex;
    justify-content: space-between;

}
.what-we-do-header{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(33, 33, 33, 1);
}
.our-team{
    width: 100%;
    height: 648px;
    background-color: rgba(245, 244, 250, 1);
}
.team-header{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    text-align: center;
    color: rgba(33, 33, 33, 1);
}
.our-team-sub-header{
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(33, 33, 33, 1);
}
.our-team-text{
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
}
.our-team > ul{


    display: flex;
    justify-content: space-between;

}


/* .buttons{ */
    /* background-color: rgba(245, 244, 250, 1); */
    /* color: rgba(33, 33, 33, 1); */

/* } */
.content-button{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    background-color: rgba(245, 244, 250, 1);
    color: rgba(33, 33, 33, 1);
    border: none;
    width: 145px;
    height: 38px;

}
.buttons{
    display: flex;
}
.buttons :hover{
    color: rgba(255, 255, 255, 1);
    background-color: rgba(33, 150, 243, 1);
}
.our-works-header{
    opacity: 0;
}
.our-works-subheader{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: rgba(33, 33, 33, 1);
}
.our-works-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: rgba(117, 117, 117, 1);
}
.our-works{
    display: flex;
    flex-wrap:  wrap;
    justify-content: space-between;

}
.footer{
    background-color: rgba(47, 48, 58, 1);
    width: 100%;
    height: 252px;
}

















